{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="row" style="padding: 0px 40px;">
	<div class="col-md-6">
		<h3>Criar solicitação para lavagem</h3>
		<form method="POST" style="width: 20%; margin-bottom: 10px;">{% csrf_token %}
			<label for="{{form.qtd.name}}" class="control-form">{{form.qtd.label}}</label>
			{{form.qtd}}
			<label for="{{form.lavanderia.name}}" class="control-form">{{form.lavanderia.label}}</label>
			<select name="{{form.lavanderia.name}}" id="{{form.lavanderia.id_for_label}}" class="js-example-basic-single" style="width: 100px;">
				<option value="">Nenhum</option>
				{% for lav in lavanderias %}
				<option value="{{ lav.id }}">{{lav}}</option>
				{% endfor %}
			</select>
			<!-- <a href="{% url 'home' %}" style="margin-right: 20px;">Cancelar</a> -->
			<input type="submit" class="btn btn-success" value="Criar" style="margin-top: 20px;">
		</form>
	</div>
</div>
{% if messages %}
  {% for msg in messages %}
    <div id="snackbar">{{ msg }}</div>
    <script>

        (function myFunction() {
            // Get the snackbar DIV
            var x = document.getElementById("snackbar");

            // Add the "show" class to DIV
            x.className = "show";

            // After 3 seconds, remove the show class from DIV
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        })();
    </script>
  {% endfor %}
{% endif %}
{% endblock %}

{% block js %}
<script src="{% static 'js/select2.min.js' %}"></script>
<script>
$(document).ready(function() {
	console.log("lole");
    $('.js-example-basic-single').select2();
});	
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
{% endblock %}