{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<div class="row" style="padding: 0px 40px;">
    <!-- DataTables Example -->
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    {% if user.perfil == 'CLIENTE' %}
                    <th>lavanderia</th>
                    {% else %}
                    <th>cliente</th>
                    {% endif %}
                    <th>status</th>
                    <th>qtd</th>
                    <th>valor</th>
                    <th>ações</th>
                </tr>
            </thead>
            <tbody>
                {% for solicitacao in solicitacoes %}
                {% if user.perfil == 'LAVANDERIA' and not solicitacao.lavanderia %}
                <tr>
                    {% if solicitacao.cliente %}
                    <td>{{ solicitacao.cliente }}</td>
                    {% else %}
                    <td>Nenhum</td>
                    {% endif %}
                    <td>{{ solicitacao.status }}</td>
                    <td>{{ solicitacao.qtd }}</td>
                    <td>{{ solicitacao.valor }}</td>
                    <td>
                        <button type="button" class="btn btn-success" style="width: 50px;">
                            <i class="fas fa-clipboard-check"></i>
                        </button>
                    </td>
                {% elif solicitacao.cliente == user %}
                <tr>
                    {% if solicitacao.lavanderia %}
                        <td>{{ solicitacao.lavanderia }}</td>
                    {% else %}
                        <td>Nenhum</td>
                    {% endif %}
                    <td>{{ solicitacao.status }}</td>
                    <td>{{ solicitacao.qtd }}</td>
                    <td>{{ solicitacao.valor }}</td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ solicitacao.id }}" style="margin-left: 10px; width: 50px;">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <a class="btn btn-primary" style="width: 50px;" href="{% url 'solicitacao-update' solicitacao.id %}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form action="{% url 'solicitacao-delete' solicitacao.pk %}" method="post">{% csrf_token %}
                            <div class="modal fade" id="deleteModal{{ solicitacao.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <b style="font-size: 1.3em;">Deseja realmente deletar ?</b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-danger">Deletar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% empty %}
                <tr>
                    <td>- - -</td>
                    <td>- - -</td>
                    <td>- - -</td>
                    <td>- - -</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/select2.min.js' %}"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
{% endblock %}